//
   Created by marcelino.g.badin on 17/12/13.

each val in products
    table
        tr
            td(rowspan="3")
                #productImage(style="width: 160px; height: 90px; background-image: url('/uploads/" + val.image + "'); background-repeat: no-repeat; background-position: center")
                    button(type="button" onclick="/javascripts/buy("+ val._id + ")") BUY
            td
                th(style="text-align: left")= val.store
        tr
            td
                th(style="text-align: left")= val.name
        tr
            td
                th(style="text-align: right; vertical-align: bottom")= val.price